<div class="flabbergasted" style="background: white">
  <div class="member-roles">
    <div class="info">
      <label for="system.title" class="resource-label">{{localize "FLABBERGASTED.SocialClub.MemberRoles"}}</label>
      <i class="fas fa-plus rollable member-role-add" style="margin-left: 10px;"></i>
    </div>
    <hr>
    {{log this}}
    {{#each membersRoles as |memberRole index|}}
    <div class="info">
      {{log memberRole}}
      {{#if memberRole.editable}}
      <i class="fas fa-trash rollable member-role-remove"></i><input type="text" class="role-edit" value="{{memberRole.role}}"  placeholder="Role">
      {{else}}
      <label class="resource-label role-edit">{{memberRole.role}}</label>
      {{/if}}
      <input type="text" class="member-edit" value="{{memberRole.member.name}}" placeholder="Name" />
    </div>
    {{/each}}
  </div>
</div>