<div class="rounded-corner">
  <div class="info">
    <label for="system.background" class="resource-label">Background</label>
  </div>
  <hr>
  {{editor enrichedBackground target="system.background" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.dilemma" class="resource-label">Dilemma</label>
  </div>
  <hr>
  {{editor system.dilemma target="system.dilemma" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.mementos" class="resource-label">Mementos</label>
  </div>
  <hr>
  {{editor system.mementos target="system.mementos" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.description" class="resource-label">Description</label>
  </div>
  <hr>
  {{editor system.description target="system.description" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.notes" class="resource-label">Notes</label>
  </div>
  <hr>
  {{editor system.notes target="system.notes" engine="prosemirror" button=true editable=editable}}
</div>