{{#each upgrades as |item id|}}
{{log item}}
<div class="upgrade" data-item-id="{{item._id}}">
  <h2 class="{{#if item.canUse}}rollable{{/if}} item" data-roll-type="club-upgrade" data-item-id="{{item._id}}">
    {{item.name}}
    {{#if item.system.hasUsage}}
    <input type="checkbox" name="cb" class="upgrade" {{ifThen item.system.used "checked" ""}} disabled>
    {{/if}}
  </h2>
  {{{item.system.description}}}
</div>
{{/each}}