<div class="rounded-corner">
  <div class="info">
    <label for="system.slogan" class="resource-label">{{localize "FLABBERGASTED.SocialClub.Slogan"}}</label>
  </div>
  <hr>
  {{editor system.slogan target="system.slogan" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.location" class="resource-label">{{localize "FLABBERGASTED.SocialClub.Location"}}</label>
  </div>
  <hr>
  {{editor system.location target="system.location" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.rivalClubs" class="resource-label">{{localize "FLABBERGASTED.SocialClub.RivalClubs"}}</label>
  </div>
  <hr>
  {{editor system.rivalClubs target="system.rivalClubs" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.description" class="resource-label">{{localize "FLABBERGASTED.Common.Description"}}</label>
  </div>
  <hr>
  {{editor system.description target="system.description" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.bigTrouble" class="resource-label">{{localize "FLABBERGASTED.SocialClub.BigTrouble"}}</label>
  </div>
  <hr>
  {{editor system.bigTrouble target="system.bigTrouble" engine="prosemirror" button=true editable=editable}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.publicChallenges" class="resource-label">{{localize "FLABBERGASTED.SocialClub.PublicChallenges"}}</label>
  </div>
  <hr>
  {{editor system.publicChallenges target="system.publicChallenges" engine="prosemirror" button=true editable=editable}}
</div>

<div class="rounded-corner">
  <div class="info">
    <label for="system.trophies" class="resource-label">{{localize "FLABBERGASTED.SocialClub.Trophies"}}</label>
  </div>
  <hr>
  {{editor system.trophies target="system.trophies" engine="prosemirror" button=true editable=editable}}
</div>