<div class="traits">
  <div class="info">
    <label for="system.title" class="resource-label">Traits</label>
  </div>
  <hr>
  <div class="values">
    {{#each traits as |item id|}}
    <div class="trait" data-item-id="{{item.id}}">
      <h2 class="rollable trait" data-field="system.traits.{{item.id}}" data-action-value="{{item.value}}"
        data-action-max-value="{{item.max}}" data-trait="{{item.id}}">
        {{localize item.label}}
      </h2>
      {{{traitBoxes item.max item.value}}}
    </div>
    {{/each}}
  </div>
</div>
<div class="grid grid-2column">
  <div class="status">
    <div class="info">
      <label class="resource-label">Status</label>
    </div>
    <hr>
    <div class="values">
      <h3 class="rollable status">Healthy<input type="checkbox" name="cb" class="traits" {{ifThen (eq
          actor.system.status 1) "checked" "" }} disabled>
      </h3>
      <h3 class="rollable status">Scuffed<input type="checkbox" name="cb" class="traits" {{ifThen (eq
          actor.system.status 2) "checked" "" }} disabled>
      </h3>
      <h3 class="rollable status">Injured<input type="checkbox" name="cb" class="traits" {{ifThen (eq
          actor.system.status 3) "checked" "" }} disabled>
      </h3>
    </div>
  </div>
  <div class="luck-coin">
    <div class="info">
      <label class="resource-label">Lucky Coin</label>
    </div>
    <hr>
    <div class="values">
      <img src="" class="rollable luck-coin" />
      <h3><input type="checkbox" name="cb" class="traits" {{ifThen (gte actor.system.luckCoin 1) "checked" "" }}
          disabled></h3>
      <h3><input type="checkbox" name="cb" class="traits" {{ifThen (gte actor.system.luckCoin 2) "checked" "" }}
          disabled></h3>
      <h3><input type="checkbox" name="cb" class="traits" {{ifThen (gte actor.system.luckCoin 3) "checked" "" }}
          disabled></h3>
    </div>
  </div>
  <div class="square-box">
    <div class="info">
      <label for="system.readies" class="resource-label">Readies</label>
      <input name="system.readies" type="text" value="{{actor.system.readies}}" placeholder="0" />
    </div>
  </div>
  <div class="square-box">
    <div class="info">
      <label for="system.nickname" class="resource-label rollable nickname">Nickname</label>
      <input name="system.nickname" type="text" value="{{actor.system.nickname}}" placeholder="Nickname" style="text-decoration: {{ifThen system.nicknameUsed "line-through" "none"}}" />
    </div>
  </div>
</div>