<div class="grid grid-2column big-number">
  <div class="status">
    <div class="info">
      <label class="resource-label">{{localize "FLABBERGASTED.SocialClub.Funds"}}</label>
    </div>
    <hr>
    <input type='number' name='system.funds' value='{{actor.system.funds}}' data-dtype='Number' min="0"/>
  </div>
  <div class="luck-coin">
    <div class="info">
      <label class="resource-label">{{localize "FLABBERGASTED.SocialClub.NoOfMembers"}}</label>
    </div>
    <hr>
    <input type='number' name='system.members' value='{{actor.system.members}}' data-dtype='Number' min="0" max="{{system.maxMembers}}"/>
  </div>
</div>
<div class="member-roles">
  <div class="info">
    <label for="system.title" class="resource-label">{{localize "FLABBERGASTED.SocialClub.MemberRoles"}} <i class="fas fa-pen-to-square rollable members-roles-edit" style="margin-left: 10px;"></i> </label>
  </div>
  <hr>
  {{#each membersRoles as |memberRole index|}}
  <div class="info role">
    <label for="system.membersRoles.roles.{{index}}" class="resource-label">{{memberRole.role}}</label>
    <label name="system.membersRoles.memberId.{{index}}">{{memberRole.member.name}}</label>
  </div>
  {{/each}}
</div>
<div class="rounded-corner">
  <div class="info">
    <label for="system.slogan" class="resource-label">{{localize "FLABBERGASTED.SocialClub.NotableMembers"}}</label>
  </div>
  <hr>
  {{editor system.notableMembers target="system.notableMembers" engine="prosemirror" button=true editable=editable}}
</div>