<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  <div class="middle flexrow">
    <div style="flex:4">
      <div class="info">
        <label for="name" class="resource-label">Name</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </div>
      <hr>
      <div class="profile">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>
      <hr>
      <div class="info">
        <label for="system.relationship" class="resource-label">Relationship</label>
        <input name="system.relationship" type="text" value="{{actor.system.relationship}}" placeholder="Single" />
      </div>
      <hr>
      {{#if actor.system.hasProfession}}
      <div class="info">
        <label for="system.profession" class="resource-label">Profession</label>
        <input name="system.profession" type="text" value="{{actor.system.profession}}" placeholder="" />
      </div>
      {{else}}
      <div class="info">
        <label for="system.title" class="resource-label">Title</label>
        <input name="system.title" type="text" value="{{actor.system.title}}" placeholder="" />
      </div>
      <hr>
      <div class="info">
        <label for="system.estate" class="resource-label">Estate</label>
        <input name="system.estate" type="text" value="{{actor.system.estate}}" placeholder="" />
      </div>
      {{/if}}
      <hr>
      <div class="info last-line">
        <div class="age">
          <label for="system.age" class="resource-label">Age</label>
          <input name="system.age" type="text" value="{{actor.system.age}}" placeholder="20" />
        </div>
        <hr class="vertical">
        <div class="flaw">
          <label for="system.flaw" class="resource-label">Flaw</label>
          <input name="system.flaw" type="text" value="{{actor.system.flaw}}" placeholder="Flaw" />
        </div>
      </div>
    </div>
    <div style="flex:6">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="sceneCues">Scene Cues</a>
        <a class="item" data-tab="effects">Effects</a>
      </nav>

      <section class="sheet-body">

        <div class="tab features" data-group="primary" data-tab="features">
          <section class="grid grid-3col">
            <aside class="sidebar">

              <div class="abilities flexcol">
                {{#each system.abilities as |ability key|}}
                <div class="ability flexrow flex-group-center">
                  <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                    data-roll="d20+@abilities.{{key}}.mod"
                    data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup
                    @root.config.abilities key)}}</label>
                  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                    data-dtype="Number" />
                  <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod"
                    data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0
                    sign=true}}</span>
                </div>
                {{/each}}
              </div>
            </aside>


            <section class="main grid-span-2">
              {{> "systems/flabbergasted/templates/actor/parts/actor-features.hbs"}}
            </section>

          </section>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
          {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
          {{> "systems/flabbergasted/templates/actor/parts/actor-items.hbs"}}
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab sceneCues" data-group="primary" data-tab="sceneCues">
          {{> "systems/flabbergasted/templates/actor/parts/actor-sceneCues.hbs"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
          {{> "systems/flabbergasted/templates/actor/parts/actor-effects.hbs"}}
        </div>

      </section>
    </div>
  </div>

  <div class="socialStanding">
    <p data-roll-type="dignity" class="rollable">Dignity</p>
    <hr class="vertical">
    {{#each socialStandingValues as |value index|}}
    <p>{{value}}</p>
    <hr class="vertical {{ifThen (eq index 20) "" " single"}}">
    {{/each}}
    <p data-roll-type="scandal" class="rollable">Scandal</p>
  </div>

  {{!-- Sheet Header --}}
  {{!-- <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.power.max" value="{{system.power.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
              data-dtype="Number" />
          </div>
        </div>

      </div>
    </div>
  </header> --}}

  {{!-- Sheet Tab Navigation --}}
  {{!-- <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="sceneCues">Scene Cues</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav> --}}
</form>