<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <hr class="vertical profile">
    <div class="header-fields">
      <hr>
      <div class="info">
        <label for="name" class="resource-label">Name of NPC</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </div>
      <hr>
      <div class="info last-line">
        <div class="age">
          <label for="system.age" class="resource-label">Age</label>
          <input name="system.age" type="text" value="{{actor.system.age}}" placeholder="20" />
        </div>
        <hr class="vertical">
        <div class="description">
          <label for="system.description" class="resource-label">Description</label>
          <input name="system.description" type="text" value="{{actor.system.description}}" placeholder="Description" />
        </div>
      </div>
      <hr>
    </div>
  </header>
  <hr style="flex:unset;margin-top: 0;">
  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab background active" data-group="primary" data-tab="background">

      <label for="system.background" class="info">About</label>
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor system.background target="system.background" engine="prosemirror" button=true editable=editable}}

    </div>
  </section>
</form>